<!DOCTYPE html>
<html lang="ja" >
  <head>
    <title>JavascriptApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>

  <div id="output1"></div>
  <div id="output2"></div>
  
  <script>
  //Array
    let names = new Array(4);
    names[0] = "山田";
    names[1] = "中山";
    names[2] = "井上";
    names[3] = "江藤";
    
    let greeting1 = "<h2>こんにちは " + names[0] + " さん</h2>";
    let greeting2 = "<h2>こんにちは " + names[1] + " さん</h2>";
    
    document.getElementById("output1").innerHTML = greeting1;
    document.getElementById("output2").innerHTML = greeting2;

    for (let i = 0; i <= (names.length - 1); i++) {
      console.log("こんにちは",names[i],"さん")
    }
  </script>

  <script>
  //大小を比較する関数の作成
    function compare(a,b){
      return a-b;
    }
  //配列の操作 Array
    let ages = Array(4,6,10,24,1,11,40);
  //配列の並び替え
    ages = ages.sort(compare);
    console.log(ages.join(">"));
  </script>

    <%= yield %>
  </body>
</html>
