<!DOCTYPE html>
<html lang="ja" >
  <head>
    <title>JavascriptApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
  <script>
  //日付・自国の変更メソッド
    var now;
    now  = new Date();
    document.write("<h1>",now.toString(),"</h1>");
  </script>
  <script>
    var aDay;
    aDay = new Date(2017, 3, 10, 14, 1, 24);
    document.write("<h1>", aDay.toString(),"</h1>");
  </script>
  <script>
    var now, date;
    now = new Date();
    date = now.getFullYear() + "年" +
            (now.getMonth() + 1) + "月" +
            now.getDate() + "日";
    document.write("<h1>", date, "</h1>")

    var gantan, days, diff;
    gantan = new Date(now.getFullYear() + 1, 0, 1);
    diff = gantan.getTime() - now.getTime();
    days = Math.ceil(diff / (24 * 60 * 60 * 1000));
    document.write("<h1>ことしの残り日数:", days, "</h1>");
  </script>
  <script>
    //数学計算用メソッドMathオブジェクト
    var num1 = 10;
    var num2 = 15;
    var num3 = 16;
    document.write("<h1>", Math.max(num1, num2, num3), "</h1>")
    document.write("<h1>", Math.min(num1, num2, num3), "</h1>")
    //おみくじを作る
    var random = Math.random();  //０以上１未満の乱数を生成
    if (random < 0.33) {  
      document.write("<h1>", "大吉", "</h1>")
    } else if (random < 0.66) {
      document.write("<h1>", "吉", "</h1>")
    } else {
      document.write("<h1>", "凶", "</h1>")
    }
  </script>
  <script>
    //stringオブジェクト
    var str1 = new String("Stringオブジェクト")
    document.write("<h1>", str1, "</h1>")
    document.write("<h2>長さ:", str1.length, "</h2>")

    var str2 = new String("文字列操作")
    for (var i = 0; i <= (str2.length - 1); i++) {
        document.write("<h2>", str2.charAt(i), "</h2>");
    }
  </script>
  <script type="text/javascript">
    //link url設定
    var title1 = "ページの先頭"
    var anchor1 = title1.anchor("pTop")
    document.write("<h1>", anchor1, "</h1>")

    var url = "http://google.co.jp"
    var text = "Google".link(url) + "で検索"
    document.write("<h1>", text, "</h1>")
    //ページの先頭へ行くリンク
    for (i =0; i < 10; i++) {
      document.write("<h2>hello</h2>");
    }

    var toAnchor1 = "ページのトップへ".link("#pTop");
    document.write("<h2>",toAnchor1, "</h2>")
  </script>
    <%= yield %>
  </body>
</html>
