<!DOCTYPE html>
<html lang="ja" >
  <head>
    <title>JavascriptApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <script>
    //イベントハンドラ
      function funcl(srt){
        alert(srt + "クリックされました")
      }

      function funcl() {
        alert("ドキュメントがロードされました");
      }
      windoiw.onload = init;
    </script>
  </head>

  <body>
  <form id= "myForm" name= "myForm">
    <p>
      <input type="button" value="ボタン1"
        name="button1" onclick="funcl('ボタン1');">
    </p>
  </form>
  <script>
  //OSによってメッセージを変更する
  /*
    for (let prop in navigator) {
      console.log(prop, "", navigator[prop])
    }
  */
  let platform = navigator.platform;
  if (platform.indexOf("Mac") >=0 ) {
    console.log("こんにちはMacユーザーさん")
  } else if(platform.indexOf("Win") >= 0) {
    console.log("こんにちはWinのみなさん") 
  } else {
    console.log("その他のユーザーさん")
  }
  </script>

    <%= yield %>
  </body>
</html>
