<!DOCTYPE html>
<html lang="ja" >
  <head>
    <title>JavascriptApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <script>
      var age;
      age =20;
      age = age + 1
      var name = "田中"
      document.write("<h1>", name + age ,"才です", "</h1>");
      var result;
      result = (3+ 4)* 5
      document.write(result);

      var height;     //変数宣言
      var stdWeight;  //変数宣言
      //height = prompt("身長を入力してください",150);
      //stdWeight = (height - 100) * 0.9;
      //document.write("身長:", height, "cm", "<br>");
      //document.write("標準体重:", stdWeight, "kg");
    </script> 
    <script>
      //if
      var refValue = 80; //基準値
      var score; //点数
      score = prompt("点数を入力してください",80);
      if (score == 100) {
        document.write("<h1>百点満点</h1>")
      }
      if (score >= refValue) {
        document.write("<h1>合格です</h1>");
        document.write("<p>がんばりました</p>");
      }else{
        document.write("<h1>不合格です</h1>")
        document.write("<p>もう少し頑張りましょう</p>")
      }
    </script>
    
  </body>
</html>
