<!DOCTYPE html>
<html lang="ja" >
  <head>
    <title>JavascriptApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <script>
      var age;
      age =20;
      age = age + 1
      var name = "田中"
      document.write("<h1>", name + age ,"才です", "</h1>");
      var result;
      result = 3+ 4* 5
      document.write(result);
    </script>
    
  </body>
</html>
