<!DOCTYPE html>
<html lang="ja" >
  <head>
    <title>JavascriptApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <script>
      var age;
      age =20;
      age = age + 1
      var name = "田中"
      document.write("<h1>", name + age ,"才です", "</h1>");
      var result;
      result = (3+ 4)* 5
      document.write(result);

      var height;     //変数宣言
      var stdWeight;  //変数宣言
      //height = prompt("身長を入力してください",150);
      //stdWeight = (height - 100) * 0.9;
      //document.write("身長:", height, "cm", "<br>");
      //document.write("標準体重:", stdWeight, "kg");
    </script> 
    <script>
      //if
      var refValue = 80; //基準値
      var score; //点数
      //score = prompt("点数を入力してください",80);
      if (score == 100) {
        document.write("<h1>百点満点</h1>")
      }
      if (score >= refValue) {
        document.write("<h1>合格です</h1>");
        document.write("<p>がんばりました</p>");
      }else{
        document.write("<h1>不合格です</h1>")
        document.write("<p>もう少し頑張りましょう</p>")
      }
      
      var month;
      //month = prompt("月を入力してください",1)
      if ((month == 12) || (month == 1) || (month == 2)) { //12もしくは1もしくは2 ==はもしくは
        document.write("<h1>冬</h1>");
      }else if ((month >= 3)&&(month <= 5)){  //3より大きいか等しいかつ5より小さいか等しい &&はかつ
        document.write("<h1>春</h1>");
      }else if ((month>= 6 ) && (month<= 8)){
        document.write("<h1>夏</h1>");
      }else if ((month>= 9) &&(month<= 11)){
        document.write("<h1>秋</h1>");
      } else {
        document.write("<h1>1から12の値を入力してください");
      }
    </script>
    <script>
    //case
    var month;
        month = prompt("月を入力してください",1)
        month = Number(month);
        switch (month) {
          case 12:
          case 1:
          case 2:
            document.write("<h1>冬</h1>")
            break;
          case 3:
          case 4:
          case 5:
            document.write("<h1>春</h1>")
          case 6:
          case 7:
          case 8:
            document.write("<h1>夏</h1>")
          case 9:
          case 10:
          case 11:
            document.write("<h1>秋</h1>")
            break;
        }
    </script>
    <table>
      <tr><th>和暦</th><th>西暦</th></tr>
      <script>
        //for
      var i;
      for (let i = 1; i <= 20; i = i + 1 ){
        document.write("<tr><td>", i, "</td>" );
        document.write("<td>", i + 1988, "</td></tr>" ); 
      }
      </script>
    </table>
    <table>
      <tr><th>和暦</th><th>西暦</th></tr>
      <script>
      //while
        var MAX = 8;
        var i = 1;
        while (i <= MAX) {
          document.write( "<tr><td>", i, "</td>" );
          document.write( "<td>", i + 1988, "</td></tr>" );
          i++;
        }
      </script>
    </table>
    
    <script>
    //break
      var ANS = 50;
      var num;
      var msg = "数を入力してください"
      while (true) {
        num = prompt(msg, 0);
        if (ANS == num) {
          document.write("正解です")
          break //←ループを抜ける
        }
        if (num < ANS) {
          msg = "もっと大きい数を入力してください"
        } else if (num > ANS){
          msg = "もっと小さい数を入力してください"
        } else{
          msg = "数を入力してください"
        }
      }
    </script>
    
  </body>
</html>
