<!DOCTYPE html>
<html lang="ja" >
  <head>
    <title>JavascriptApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="practice.js" defer></script>

    <%= javascript_importmap_tags %>
    <script>
    //イベントハンドラ
      function funcl(srt){
        alert(srt + "クリックされました")
      }

      function funcl() {
        alert("ドキュメントがロードされました");
      }
      windoiw.onload = init;
    </script>
  </head>

  <body>
  
  <form id= "myForm" name= "myForm">
    <p>
      <input type="button" value="ボタン1"
        name="button1" onclick="funcl('ボタン1');">
    </p>
  </form>
  <script>
  //OSによってメッセージを変更する
  /*
    for (let prop in navigator) {
      console.log(prop, "", navigator[prop])
    }
  */
  let platform = navigator.platform;
  if (platform.indexOf("Mac") >=0 ) {
    console.log("こんにちはMacユーザーさん")
  } else if(platform.indexOf("Win") >= 0) {
    console.log("こんにちはWinのみなさん") 
  } else {
    console.log("その他のユーザーさん")
  }
  </script>
  <script>
    //フォームの部品を利用するformオブジェクト
      function stdWeight(myForm){
        let height, weight;
        height = Number (myForm.height.value);
        if (myForm.sex[0].checked) {
          weight = (height - 80) * 0.7;
        } else {
          weight = (height -70) *0.6;
        }
        myForm.weight.value = weight;
    }
    </script>
    <form name="weightForm"><p>
      男性:<input type="radio" name="sex" checked>
      女性:<input type="radio" name="sex"> <br>
      身長:<input type="text" name="height">cm<br>
      <input type="button" value="計算"
              name="calc" onclick= "stdWeight(this.form)"><br>
      標準体重:<input tyoe="text" name="weight">kg
    </p></form>
    <%= yield %>

    <script>
    //新規のwindowsを開く。windowオブジェクト
      function openWin(){
        let win = window.open("http://google.co.jp", "",
                              "resizable=yes, width=1000, height=500,location=yes,status=yes");

      }
    </script>

    <form name="myForm"><p>
      <input type="button" value="開く"
              name="openBtn" onclick="openWin()">
    </p></form>

  </body>
</html>
